<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"  >
  <head>
    <title>Mi resumen</title>
    <meta name="author" content="francisco memoli">
    <meta name="keywords" content="francisco memoli olmos developer" />
    <link rel="stylesheet" type="text/css" href="Styles/style.css"></link>
      <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
  	
  
  </head>
  <body ng-app='myResume'>
  <div class="content" ng-controller="MyResumeController" >
		  <div class="tituloNombre">
		    <h1>Memoli Olmos Francisco</h1>
		    <div class="changeLang">
		  		<a ng-click="loadNew()">
		  		<img id="imgLang"  ng-src="Images/{{languaje.changeLang}}.png" style="width: 30px;float: right;">
		  		</a>
		  	</div>
		  </div>
		  <div class="foto"></div>
		  <div class="personalData">
			  <p>{{languaje.personalData.address}}</p>
			  <p>{{languaje.personalData.labelSkypeuser}}: {{languaje.personalData.skypeuser}}</p>
			  <p>{{languaje.personalData.labelPhone}}: {{languaje.personalData.phone}}</p>
			  <p>{{languaje.personalData.labelEmail}}: {{languaje.personalData.email}}</p>
		</div>
		 <h2>{{languaje.howIm.title}}</h2> 
		 <p class="howIm">{{languaje.howIm.body}}</p>
		  <h2>{{languaje.works.title}}</h2>
		  <div ng-repeat="item in languaje.works.items">
		  	<h3> {{item.title}}</h3>
			  <h4>{{item.subTitle}}</h4>
				<ul>
					<li  ng-repeat="descriptionItem in item.description">{{descriptionItem}} </li>
				</ul>
		  </div>			  
		<h2>{{languaje.education.title}}</h2>
			  <ul>
			  		<li ng-repeat="item in languaje.education.items">{{item}}</li>
			  </ul>
		<h2>{{languaje.knowledges.title}}</h2>
		
		<div ng-repeat="knowledge in languaje.knowledges.items ">
			<h3>{{knowledge.subTitle}}:  </h3>
			<div ng-repeat="item in knowledge.level">
				<h4>{{item.subTitle}}</h4>
				  <ul>
				      <li  ng-repeat="know in item.items">{{know}}</li>
				   </ul>
			</div>
		</div>
		
    </div>
	  <script type="text/javascript">
		var app=angular.module('myResume', []);
		app.controller('MyResumeController', function($scope){
		var english = {	name:"english",
		 				changeLang:"spanish",
						personalData:{
									address:"Capital Federal, Buenos Aires.",
		 							labelSkypeuser:"Skype user",skypeuser:"franmemo", 
		 							labelPhone:"Phone",phone: "+54(011) 155-7059885", 
		 							labelEmail:"eMail",email: "francisco.memoli@gmail.com"},
		 				howIm:{title:"Who I'm ?",
		 						body:"Hello , my name is Francisco , I am a software developer with over three years of experience . I worked in many technologies and projects like freelancer and as an employee of corporations. Currently I am dedicated primarily to developing websites and mobile applications, always trying to work with the latest technology."},
		 				works:{title:" Work History",
		 						items:[{
		 									title:"February 2012 - Present, PSF SRL, Capital Federal, Argentina . ",
		 									subTitle:"Deleveper.",
		 									description:["Develop software using mainly knowledges like  PHP, ASP.net , CSS , JavaScript , jQuery , HTML, and others.",
		 												"Analysis of requirements and then scheduling tasks, with the application of agile methodologies like scrum.",
		 												"Maintenance and implementation of new use cases in existing systems."]
		 								},
		 								{
		 									title:"December 2010 - February 2012 Bejerman Systems ( Thomson Reuters ), Capital Federal, Argentina .",
		 									subTitle:"Deleveper.",
		 									description:["Maintenance of existing products on the market . Solving new found errors and offering assistance to customers.",
														"Develop new versions and upgrades for custom clients.",
														"Master testing for new versions before release."]
		 								},
		 								{
		 									title:"December 2008 - March 2009 , Westgate Resort & Spa, Park City, UT , USA.",
		 									subTitle:"Maintenance.",
		 									description:["Repairs of all kinds either inside or outside the rooms.",
		 												 "Maintenance and control pools.",
		 												 "Perform monthly inventories.",]
		 								},
		 								{
		 									title:"May 2007 - September 2007 Inguz Computer Services, Capital Federal, Argentina.",
		 									subTitle:"Maintenance of hardware. ",
		 									description:["Maintenance of computers and networks in business.",
		 												 "Assembly and repair of computers and networks."]
		 								}
		 							]},
		 				education:{title:"Education",
		 						   items:[	"2006 - Present Software Engineering at the University of Buenos Aires, Capital Federal.",
		      								"2003 - 2005 Bachelor and Middle Level Technician in Industrial Electronics Villada Salesian Technical Institute, Córdoba Capital. "
		 								]
		 						 },
		 				knowledges:{title:"Knowledge",
		 							items:[{	
				 							subTitle:"Programming languages:",
				 							level:[{subTitle:"Intermediate knowledge ",
				 										items: ["C++",
																"HTML5",
                                                                "Bootstrap",
																"Twitter & facebook API",
																"Java",
																"Java for Android"
															  ]
				 								 },{subTitle:"Advanced knowledge",
				 										items: ["SQL server",
																"PHP",
																"JavaScript",
																"JQuery",
																"AJAX",
																"HTML",
																"CSS",
																"Mustage",
																"ASP.net",
																"Git"
															  ]
				 								 }]
				 							},{
				 								subTitle:"Frameworks",
					 							level:[{subTitle:"",
					 										items: ["zend",
																	"cakephp",
																	"AngulaJS"
																  ]
					 								 }]
				 							}
				 						]
		 							}
					}	
		var spanish	= { name:"spanish",
		 				changeLang:"english",
						personalData:{
									address:"Capital Federal, Buenos Aires",
		 							labelSkypeuser:"Skype user",skypeuser:"franmemo", 
		 							labelPhone:"Celular",phone: "(011) 155-7059885", 
		 							labelEmail:"eMail",email: "francisco.memoli@gmail.com"},
		 				howIm:{title:"¿Quién soy?",
		 						body:"Hola, mi nombre es Francisco, soy desarrollador de software con más de tres años de experiencia. He trabajado en variadas tecnologías y proyectos de forma independiente y relacionado con empresas. Actualmente me dedico principalmente a el desarrollo de paginas web y aplicaciones mobile."},
		 				works:{title:"Historial de trabajo",
		 						items:[{
		 									title:"Febrero 2012- Presente, P.S.F S.R.L., Capital Federal, Argentina.",
		 									subTitle:"Investigación y Desarrollo.",
		 									description:["Desarrollo de sistemas utilizando principalmente conocimientos de PHP, ASP.net, CSS, javascript,jQuery, HTML, entre otros.",
		 												"Analisis de requerimientos y luego programación de tareas a realizar, con la aplicación de metodologias ágiles ",
		 												"Mantenimiento e implementacion de nuevos casos de uso en sistemas ya existentes."]
		 								},
		 								{
		 									title:"Diciembre 2010– Febrero 2012, Sistemas Bejerman (Thomson Reuters) , Capital Federal, Argentina.",
		 									subTitle:"Investigación y Desarrollo.",
		 									description:["Mantenimiento de productos existentes en el mercado. Solucionando nuevos errores encontrados y ofreciendo asistencia a clientes.",
														"Desarollando nuevas versiones y mejoras personalizadas para clientes.",
														"Pruebas de master para nuevas versiones antes de su salida al mercado."]
		 								},
		 								{
		 									title:"Diciembre 2008– Marzo 2009, Westgate Resort & Spa, Park City, UT, EEUU.",
		 									subTitle:"Mantenimiento.",
		 									description:["Realizar reparaciones de todo tipo ya sea dentro o fuera de las habitaciones del hotel.",
		 												 "Mantenimiento y control de piletas.",
		 												 "Realizar inventarios mensuales.  ",]
		 								},
		 								{
		 									title:"Mayo 2007– Septiembre 2007, Inguz Servicios Informáticos, Capital Federal, Argentina.",
		 									subTitle:"Mantenimiento de hardware.",
		 									description:["Mantenimiento de computadoras y redes en empresas.",
		 												 "Armado y reparación  de computadoras y redes."]
		 								}
		 							]},
		 				education:{title:"Educación",
		 						   items:[	"2006– Actual Ingeniería Informática en la Universidad de Buenos Aires, Capital Federal.",
		      								"2003– 2005 Bachiller y Técnico de Nivel Medio en Electrónica Industrial, Instituto Técnico Salesiano Villada ,Córdoba Capital."
		 								]
		 						 },
		 				knowledges:{title:"Conocimientos",
		 							items:[{	
				 							subTitle:"Manejo de lenguajes de programación",
				 							level:[{subTitle:"Conocimientos intermedios",
				 										items: ["C++",
																"HTML5",
                                                                "Bootstrap",
																"Twitter y facebook API",
																"Java",
																"Java for Android"
															  ]
				 								 },{subTitle:"Conocimientos avanzados",
				 										items: ["SQL server",
																"PHP",
																"JavaScript",
																"JQuery",
																"AJAX",
																"HTML",
																"CSS",
																"Mustage",
																"ASP.net",
																"Git"
															  ]
				 								 }]
				 							},{
				 								subTitle:"Frameworks",
					 							level:[{subTitle:"",
					 										items: ["zend",
																	"cakephp",
																	"AngulaJS"
																  ]
					 								 }]
				 							},{
				 								subTitle:"Idimoma",
					 							level:[{subTitle:"",
					 										items: ["Ingles nivel intermedio: Instituto Técnico Salesiano Villada e Instituto Universitario de Lenguas Modernas."]
					 								 }]
				 							}
				 						]
		 							}
				}
		var userLang = navigator.language || navigator.userLanguage; 
		if(userLang.indexOf("es") != -1 || userLang.indexOf("ES")!= -1){
			$scope.languaje = spanish
		}else{
			$scope.languaje = english
		}
		$scope.loadNew = function(){
			if($scope.languaje.name == "english"){
				$scope.languaje = spanish
			}else{
				$scope.languaje = english
			}
		}
		})

 
	  </script>

  </body>
</html>

