h2 {
color: #D78B7D;
}
.content{
min-width: 700px;
max-width: 850px;
margin: auto;
background: #CFC8B5;
height: 100%;
padding: 60px;
}
ul, p {
color: black;
}
body {
  background: #62868D;
width: 100%;
font-family: 'Kotta One', sans-serif, Helvetica;
margin: 0px;
height: 100%;
}
h1 {
color: black;
border-bottom: 5px solid;
}


